.button {
  background: $primary-color;
  &:hover, &:focus {
    background: darken($primary-color, 5%);
  }
  @include breakpoint(small only) {
    padding: 1.25em 1.85em;
    font-size: $base-font-size;
  }
  &.warning {
    color: white;
    &:hover, &:focus {
      background: darken($tertiary-color, 5%);
      color: white;
    }
  }
}
.button-block {
  width: 100%;
  margin-right: 0;
}
.start-project-button {
  display: none;
  @include breakpoint(large) {
    display: inline-block;
  }
  margin: 0;
  margin-left: 2rem;
}
.sidebar-button {
  width: 100%;
}
.badge.white {
  background-color: white;
  color: $primary-color;
  margin-right: 0.5rem;
}
.add-client-button {
  margin-bottom: 0;
}
.build-form-submit {
  margin-left: 1rem;
  width: 100%;
  @include breakpoint(medium) {
    width: auto;
    margin-left: 11rem;
  }
}
.form-cancel {
  margin-top: 1rem;
  @include breakpoint(small only) {
    width: 100%;
    text-align: center;
  }
}
.button.warning {
  &.is-edit-mode {
    background: $medium-grey;
  }
}
.edit-toggle-btn {
  display: block;
  color: $tertiary-color;
  &:hover, &:focus {
    color: darken($tertiary-color, 10%);
    text-decoration: underline;
  }
}
.update-button {
  margin-top: 1rem;
}
.header-search-icon .close-button {
  @include breakpoint(small only) {
    top: 1.3rem;
    font-size: 3rem;
  }
}
