<div class="hide-for-small-only">
<table class="estimates-table" ng-class="{'edit-active': toggleEditEstimates}">
  <caption>{{tableTitle}}</caption>
  <thead>
    <tr>
      <th>Room</th>
      <th class="col" ng-repeat="col in columns">{{col}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in rows">
      <td>{{row.name}}</td>
      <td ng-repeat="element in row.elements">
        <div class="switch tiny" ng-if="!isExteriorTable">
          <input class="switch-input" id="switch_{{row.name}}_{{$index + 1}}" type="checkbox" name="switch_{{row.name}}_{{$index + 1}}" ng-model="selectedElements[row.name][element.name]">
          <label class="switch-paddle" for="switch_{{row.name}}_{{$index + 1}}">
            <span class="show-for-sr">Check {{key.name}}</span>
          </label>
        </div>
        <div class="table-input-field" ng-if="isExteriorTable && toggleEditEstimates">
          <input type="number" id="number_{{row.name}}_{{$index + 1}}" name="number_{{row.name}}_{{$index + 1}}" ng-model="selectedElements[row.name][element.name]">
          <label>
            <span class="show-for-sr">Enter number</span>
          </label>
        </div>
        <div class="table-input-field" ng-if="isExteriorTable && !toggleEditEstimates">{{selectedElements[row.name][element.name]}}</div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr ng-hide="isExteriorTable">
      <td>
        <a href="" role="button" ng-click="addRoomToggle()">Add Room</a>
      </td>
    </tr>
  </tfoot>
</table>
<section ng-if="roomToggle">
  <div class="row">
    <div class="medium-7 columns">
      <form name="roomForm" ng-submit="addRoom(roomForm)" ng-if="roomToggle">
        <label>
          <span class="inline-label">
            <input type="text" placeholder="Room Name" ng-model="roomForm.name">
            <input type="submit" class="button" value="Add Room">
            <a href="" role="button" ng-click="addRoomToggle()" class="hide-form-button">Hide</a>
          </span>
        </label>
      </form>
    </div>
  </div>
</section>
<button class="warning button" ng-click="toggleEditEstimates = !toggleEditEstimates" ng-class="{'is-edit-mode': toggleEditEstimates}">
  <span ng-if="!toggleEditEstimates">Edit Estimate</span>
  <span ng-if="toggleEditEstimates">Finished Editing</span>
</button>
</div>
<div class="show-for-small-only">
  <zf-accordion ng-if="!isExteriorTable">
    <zf-accordion-item title="{{val.name}}" ng-repeat="(key, val) in rows">
      <ul class="touch-switch-list">
        <li ng-repeat="area in val.elements" class="switch-list-row">
          <span class="switch-title">{{area.name}}</span>
          <span class="switch-wrapper">            
            <div class="switch tiny">
              <input class="switch-input" id="switch_{{row.name}}_{{$index + 1}}_{{$index + 1}}" type="checkbox" name="switch_{{row.name}}_{{$index + 1}}_{{$index + 1}}" ng-model="selectedElements[row.name][col.name]">
              <label class="switch-paddle" for="switch_{{row.name}}_{{$index + 1}}_{{$index + 1}}">
                <span class="show-for-sr">Check {{key.name}}</span>
              </label>
            </div>
          </span>
        </li>
      </ul>
    </zf-accordion-item>
  </zf-accordion>
</div>
