<div id="view_details" class="view-wrapper">
  <aside class="projects-sidebar hide-for-small-only">
    <h2 class="sidebar-title">Projects</h2>
    <a href="" class="button sidebar-button">Add New Project</a>
    <ul class="no-bullet sidebar-nav" role="menu">
      <li ng-repeat="proj in project.allProjects">
        <a href="" role="menuitem" ui-sref="project({id: proj.$id})">{{proj.name}}</a>
      </li>
    </ul>
  </aside>
  <section class="project-view-pane grid-block wrap">
    <div class="medium-7 grid-block details-list">
      <dl class="dl-horizontal dt-right">
        <dt>Address</dt>
        <dd>
          <p class="paragraph-normal">{{project.data.address.address1}}</p>
          <p>{{project.data.address.city}}, {{project.data.address.state}} {{project.data.address.zip}}</p>
        </dd>
        <dt ng-if="project.data.selectedClient.name">Client</dt>
        <dd ng-if="project.data.selectedClient.name">{{project.data.selectedClient.name}}
          <dl class="dl-horizontal dt-left">
            <dt>Phone</dt>
            <dd><a href="tel:{{project.data.selectedClient.phone}}">{{project.data.selectedClient.phone}}</a></dd>
            <dt>Email</dt>
            <dd class="dd-email"><a href="mailto:{{project.data.selectedClient.email}}">{{project.data.selectedClient.email}}</a></dd>
          </dl>
        </dd>
        <dt>Date Created</dt>
        <dd>{{project.data.dateCreated | date:"MM/dd/yyyy 'at' h:mm a"}}</dd>
        <dt>Status</dt>
        <dd>{{project.data.status}} <span class="badge" ng-class="{'warning': project.data.status === 'In Progress'}"></span></dd>
        <dt ng-if="project.data.selectedVendor.name">Vendor</dt>
        <dd ng-if="project.data.selectedVendor.name">{{project.data.selectedVendor.name}}
          <dl class="dl-horizontal dt-left">
            <dt>Address</dt>
            <dd>{{project.data.selectedVendor.address1}}, {{project.data.selectedVendor.city}}, {{project.data.selectedVendor.state}} {{project.data.selectedVendor.zip}}</dd>
            <dt>Phone</dt>
            <dd><a href="tel:{{project.data.selectedVendor.phone}}">{{project.data.selectedVendor.phone}}</a></dd>
          </dl>
        </dd>
      </dl>
    </div>
    <div class="medium-5 grid-block notes-section">
      <h3 class="notes-heading">Notes</h3>
      <a href="" class="add-note-link" ng-click="toggleNoteForm = !toggleNoteForm">Add Note</a>
      <form name="newNote" class="add-note-form fadeIn fadeOut" ng-show="toggleNoteForm" ng-submit="project.addNewNote()">
        <div class="note-wrapper">
          <div class="avatar note-avatar"></div>
          <div class="note-text">
            <label> New Note
              <textarea name="note_body" id="note_body" ng-model="project.newNote.noteBody" placeholder="Enter a new Note"></textarea>
            </label>
            <button role="button" type="submit" class="button">Add Note</button>
          </div>
        </div>
      </form>
      <article class="note-wrapper" ng-repeat="note in project.notes">
        <div class="avatar note-avatar"></div>
        <div class="note-text">
          <span class="note-author">Armando Castre </span><small class="note-date">{{note.dateCreated | date:"MM/dd/yyyy 'at' h:mm a"}}</small>
          <p class="note-body">{{note.noteBody}}</p>
        </div>
      </article>
    </div>
  </section>
  <aside class="projects-sidebar show-for-small-only">
    <h2 class="sidebar-title">Projects</h2>
    <a href="" class="button sidebar-button">Add New Project</a>
    <ul class="no-bullet sidebar-nav" role="menu">
      <li ng-repeat="proj in project.allProjects">
        <a href="" role="menuitem" ui-sref="project({id: proj.$id})">{{proj.name}}</a>
      </li>
    </ul>
  </aside>
</div>
