.header-nav {
  flex: 1 0 75%;
  margin-top: rem-calc(3);
  @include breakpoint(medium only) {
    flex: 1 0 50%;
  }
}
.header-nav-icon {
  display: inline-block;
  margin-right: rem-calc(20);
  padding: 0.5rem;
  @include breakpoint(small only) {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
.header-brand-profile {
  flex: 1 0 25%;
  text-align: right;
  @include breakpoint(small only) {
    display: none;
  }
  @include breakpoint(medium only) {
    display: none;
  }
}
.header-logo {
  float: left;
  margin-top: rem-calc(7);
}
.avatar img {
  @include circle(rem-calc(40));
}
.header-avatar {
  float: right;
  margin-left: rem-calc(30);
}
.header-search-icon {
  padding: 0.5rem;
  @include breakpoint(small only) {
    margin-right: 1.25rem;
  }
}
