body {
  background-color: $app-background;
}
.vertical.grid-frame {
  overflow: auto;
}
.expand-element {
  width: 100%;
}
// PROJECTS -- HOME
// ------------------------------

.projects-card-wrapper {
  margin-top: 1rem;
  @include breakpoint(medium) {
    margin-top: 3rem;
  }
}

.grid-content.has-sidebar {
  padding: 0;
}

$sidebar-width: rem-calc(250px);
$sidebar-width-tablet: rem-calc(230px);
.view-wrapper {
  display: flex;
  @include breakpoint(small only) {
    flex-flow: column;
  }
  &.is-multi-screen-touch {
    overflow-x: hidden;
    position: relative;
    height: 100vh;
  }
}
.projects-sidebar {
  padding: 1rem;
  width: auto;
  background-color: white;
  flex-shrink: 0; // prevent sidebar from shrinking
  @include breakpoint(small only) {
    background: $app-background;
  }
  @include breakpoint(medium only) {
    width: calc(#{$sidebar-width-tablet});
  }
  @include breakpoint(medium) {
    height: 100vh;
  }
  @include breakpoint(large) {
    width: calc(#{$sidebar-width});
    height: 100vh;
  }
}
.project-view-pane {
  padding: 1rem;
  overflow: auto;
  flex-grow: 1; // This makes the element grow and take all available space, not taken by the sidebar
}
.sidebar-title {
  font-size: $headline-font-size;
  color: $heading-font-color;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.sidebar-nav {
  list-style: none;
  margin-left: -1rem;
  margin-right: -1rem;
  li {
    padding: 0;
  }
  @include breakpoint(small only) {
    margin-top: 2rem;
  }
}
.project-view-pane {
  display: flex;
  &.grid-block {
    @include reset-block-margins;
  }
}
.details-list {
  @include breakpoint(small only) {
    padding-top: 1rem;
  }
  @include breakpoint(medium) {
    padding: 2rem;
  }
  &.grid-block {
    @include reset-block-margins;
  }
  .badge {
    width: 1rem;
    height: 1rem;
  }
  .form-expand {
    @include breakpoint(small only) {
      padding: 0 1rem;
      overflow: auto;
    }
  }
}
.details-list .dl-horizontal {
  dd {
    @include breakpoint(large) {
      margin-left: 180px;
    }
    margin-bottom: 3rem;
  }
  &.dt-left dt {
    width: rem-calc(100);
  }
  &.dt-left dd {
    @include breakpoint(large) {
      margin-left: rem-calc(100);
      margin-top: 0.75rem;
    }
    margin-bottom: 0;
  }
  &.dt-left .dd-email {
    margin-top: 0.35rem;
  }
}
.notes-section {
  margin-top: 2rem;
}
.note-wrapper {
  flex: $flex-expand;
  border-top: 1px solid $light-grey-border;
  @include clearfix;
  padding: 1rem;
}
.notes-heading {
  font-size: $headline-font-size;
  @include breakpoint(small only) {
    padding-left: 1rem;
  }
}
.add-note-link {
  margin-top: 0.65rem;
  margin-left: 1rem;
}
.note-avatar {
  float: left;
  margin-right: 0.5rem;
}
.note-text {
  width: 100%;
  padding: 0 0.5rem;
  @include breakpoint(medium) {
    float: right;
    width: calc(100% - 3rem); // 3rem width of avatar and margin-right
  }
}
.note-author {
  font-weight: $heading-font-weight;
  padding-right: 0.5rem;
}
.note-body {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.job-details-title {
  flex: $flex-expand;
  margin-bottom: 3rem;
  @include breakpoint(small only) {
    padding-left: rem-calc(30);
  }
}
.job-details-list dt {
  @include breakpoint(large) {
    text-align: right;
  }
}
.add-job-title {
  padding-left: rem-calc(20);
  @include breakpoint(medium) {
    padding-left: 0;
    flex: $flex-expand;
    margin-bottom: 3rem;
  }
}
.job-item {
  @include breakpoint(small only) {
    background: white;
    li & {
      border-top: 1px solid $light-grey-border;
    }
    li:last-child & {
      border-bottom: 1px solid $light-grey-border;
    }
  }
  display: block;
  background: none;
  color: rgba($secondary-color, 0.5);
  @include transition(all, 200ms, linear);
  border-left: 5px solid rgba($secondary-color, 0);
  padding: 0.5rem 0 0.5rem 0.85rem;
  &.active {
    color: rgba($secondary-color, 1);
    background: darken($app-background, 4%);
    padding-left: 1.5rem;
    border-left: 5px solid rgba($secondary-color, 1);
  }
  @include breakpoint(small only) {
    position: relative;
    color: $secondary-color;
    &:after {
      content: '';
      position: absolute;
      top: rem-calc(14);
      right: rem-calc(10);
      width: rem-calc(20);
      height: rem-calc(20);
      background: url('../images/icon-arrow.svg') no-repeat;
    }
  }
}

.expenses-list {
  list-type: none;
}
@include breakpoint(small only) {
  .touch-next-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 1;
  }
  .touch-initial-screen {
    height: 100vh;
    transform: translateX(0);
    position: relative;
    z-index: 10;
    @include transition(all, 200ms, linear);
    opacity: 1;
    &.screen-inactive {
      opacity: 0;
      transform: translateX(-100%);
      height: 0;
    }
  }
  .touch-back-link {
    position: absolute;
    top: rem-calc(15);
    left: 0;
    cursor: pointer;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      margin-top: 0.5rem;
      transform: scale(-1);
    }
  }
}
