.add-job-form {
  width: 100%;
}

$default-border-color: #BBB;

input[type="text"],
textarea {
  &.ng-pristine.ng-invalid,
  &.ng-pristine.ng-valid {
    border: 1px solid $default-border-color;
  }
  &.ng-invalid,
  &.ng-touched.ng-invalid {
    border: 1px solid $red-color;
  }
  &.ng-valid {
    border: 1px solid $success-color;
  }
}
.form-expand {
  flex: 1 100%;
}
.form-section {
  margin-bottom: 2rem;
}
.client-form {
  margin-top: 1rem;
  padding: 1rem;
  background-color: darken($app-background,2%);
  border-radius: rem-calc(4);
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, select {
  @include breakpoint(small only) {
    padding: 1rem;
  }
}
