.add-job-form {
  width: 100%;
  @include breakpoint(small only) {
    padding: 1rem;
  }
}

$default-border-color: #BBB;

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  &.ng-pristine.ng-invalid,
  &.ng-pristine.ng-valid {
    border: 1px solid $default-border-color;
  }
  &.ng-invalid,
  &.ng-touched.ng-invalid {
    border: 1px solid $red-color;
  }
  &.ng-valid {
    border: 1px solid $success-color;
  }
  font-weight: normal;
}
textarea {
  min-height: rem-calc(100);
}
.form-expand {
  flex: 1 100%;
}
.form-section {
  margin-bottom: 2rem;
}
.client-form {
  margin-top: 1rem;
  padding: 1rem;
  background-color: darken($app-background,2%);
  border-radius: rem-calc(4);
}
.add-note-form {
  width: 100%;
}
.header-search-bar {
  @include breakpoint(small only) {
    display: inline-block;
    width: 100%;
    margin-left: 2rem;
  }
  @include breakpoint(medium) {
    display: inline-block;
    width: rem-calc(300);
  }
  label {
    margin: 0;
  }
  label > input[type="text"] {
    margin: 0;
  }
}
.desktop-search {
  @include breakpoint(small only) {
    display: none;
  }
  @include breakpoint(medium) {
    display: inline-block;
    width: rem-calc(350);
    margin-left: 2rem;
    margin-bottom: 0;
    input[type="text"] {
      margin: 0;
    }
  }
}
.login-form {
  label {
    width: 100%;
  }
  input[type="email"], input[type="password"] {
    background: none;
    color: $primary-color;
    border-radius: rem-calc(3);
    height: rem-calc(44);
    text-align: center;
    @include transition(background, 200ms, linear);
    font-weight: 400;
    &:focus {
      border: 1px solid $primary-color;
      background: rgba(black,0.1);
    }
  }
  ::-webkit-input-placeholder {
     color: rgba(white, 0.2);
  }
}
.table-input-field {
  text-align: right;
  > input {
    margin-bottom: 0;
    max-width: 4rem;
    float: right;
  }
  label {
    margin: 0;
  }
}
